.icon{
	width:32px;
	height:32px;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.icon1{
	background: url(images/icon_01.gif?__icon) no-repeat;
	background-position: 2px 2px;
}
.icon2{
	background: url(images/icon_02.gif?__icon) no-repeat;
}
.icon3{
	background: url(images/icon_03.gif?__icon) no-repeat;
}
.icon4{
	background: url(images/icon_04.png?__icon) no-repeat;
}
.icon5{
	background: url(images/icon_05.png?__icon) no-repeat;
}
.icon6{
	background: url(images/icon_06.png?__icon) no-repeat;
}
